<app-index></app-index>
<div class="container spacer">
<div class="panel panel-info">
  <div class="panel-heading">{{'SideBar.ModTypeC' | translate}}</div>
  <div class="panel-body">
    <div>
      <mat-form-field>
        <input matInput placeholder="ID" [(ngModel)]="typeConge.idCg" disabled>
      </mat-form-field><br>
      <mat-form-field matTooltip="3 caractères au minimum" matTooltipPosition="above">
          <input matInput placeholder="libellé" [formControl]="libelleFR" [(ngModel)]="typeConge.libelleType" name="desgMutFr">
          <mat-error *ngIf="libelleFR.invalid">{{getErrorMessageFr()}}</mat-error>
      </mat-form-field><br>
      <mat-form-field matTooltip="4 caractères au minimum" matTooltipPosition="above">
          <input matInput placeholder="نوع العطلة" [formControl]="libelleAR" [(ngModel)]="typeConge.libelleTypeAr">
          <mat-error *ngIf="libelleAR.invalid">{{getErrorMessageAr()}}</mat-error>
        </mat-form-field><br>
      <mat-form-field>
        <input matInput placeholder="Nombre de jours/عدد الأيام" [(ngModel)]="typeConge.nbMaxJrs">
      </mat-form-field><br>
      <mat-radio-group [(ngModel)]="typeConge.autorisation" name="autorisation">
          <mat-label><b>{{'Table.CAutorisation' | translate}}:</b></mat-label>
        <mat-radio-button [value]="true">{{'Table.Oui' | translate}}</mat-radio-button>
        <mat-radio-button [value]="false">{{'Table.Non' | translate}}</mat-radio-button>
      </mat-radio-group><br>
      <mat-radio-group [(ngModel)]="typeConge.actifPers" name="actif">
          <mat-label><b>{{'Table.Actif' | translate}}:</b></mat-label>
        <mat-radio-button [value]="true">{{'Table.Oui' | translate}}</mat-radio-button>
        <mat-radio-button [value]="false">{{'Table.Non' | translate}}</mat-radio-button>
      </mat-radio-group><br>
          <button mat-mini-fab color="primary" class="btn btn-primary" [disabled]="valideFormulaire()" (click)="updateTypeConge()"><mat-icon>create</mat-icon></button>
          <button mat-mini-fab color="default" (click)="Annuler()"><mat-icon>clear</mat-icon></button>
        </div>
    </div>
  </div>
</div>

