<app-index></app-index>
<div class="container spacer">
<div class="panel panel-info">
  <div class="panel-heading">{{'SideBar.ModPoste' | translate}}</div>
  <div class="panel-body">
    <div>
      <mat-form-field>
        <input matInput placeholder="ID" [(ngModel)]="posteAdmin.id" disabled>
      </mat-form-field>
      <mat-form-field matTooltip="3 caractéres au minimum" matTooltipPosition="above">
        <input matInput placeholder="Libellé" [formControl]="libelleFr" [(ngModel)]="posteAdmin.libellePos">
        <mat-error *ngIf="libelleFr.invalid">{{getErrorMessageFr()}}</mat-error>
      </mat-form-field>
      <mat-form-field matTooltip="4 caractéres au minimum" matTooltipPosition="above">
          <input matInput placeholder="الخطة الوظيفية" [formControl]="libelleAr" [(ngModel)]="posteAdmin.libellePosAr">
          <mat-error *ngIf="libelleAr.invalid">{{getErrorMessageAr()}}</mat-error>
        </mat-form-field>
          <button mat-mini-fab color="primary" class="btn btn-primary" [disabled]="valideFormulaire()" (click)="updatePosteAdmin()"><mat-icon>create</mat-icon></button>
          <button mat-mini-fab color="default" (click)="Annuler()"><mat-icon>clear</mat-icon></button>
        </div>
    </div>
  </div>
</div>

