<app-index></app-index>
<div class="container spacer">
<div class="panel panel-info">
  <div class="panel-heading">Consulter les demandes de vacation</div>
  <div class="panel-body">
        <div class="demo-tab-content">
          <table class="table table-striped">
            <tr>
              <th>CIN</th><th>Nom</th><th>Prenom</th><th>E-mail</th><th>Specialité</th><th *ngIf="role=='DirecteurES'||role=='Admin'">Détails</th><th *ngIf="role=='AgentGRH'">Ajouter</th>
            </tr>
            <tr *ngFor="let d of pageDemande?.content">
              <td>{{d.cin}}</td>
              <td>{{d.nom}}</td>
              <td>{{d.prenom}}</td>
              <td>{{d.email}}</td>
              <td>{{d.specialite.libelleSp}}</td>
              <td *ngIf="role=='DirecteurES'||role=='Admin'"> <button mat-icon-button  (click)="Detail(d)" color="primary" ><mat-icon>list_alt</mat-icon></button></td>
              <td *ngIf="role=='AgentGRH'"><button mat-icon-button  (click)="Ajouter(d)" color="primary" ><mat-icon>person_add</mat-icon></button></td>
            </tr>
          </table>
        <div class="container">
          <ul class="nav nav-pills">
            <li [ngClass]="{'active' :i==currentPage}" *ngFor="let p of pages; let i=index">
              <a class="clickable" (click)="gotopage(i)">{{i}}</a>
            </li>
          </ul>
        </div>
        </div>
    </div>
  </div>
</div>


