<app-index></app-index>
<div class="container spacer">
  <div class="panel panel-primary">
    <div class="panel-heading">Données Personnel</div>
    <hr>
    Nom et Prenom :{{enseignantP.prenom +" "+enseignantP.nom}}<br>
    Nom de Pére : {{enseignantP.nompere}}<br>
    Date de Naissance: {{enseignantP.datenaissance}}<br>
    Lieu de Naissance: {{enseignantP.lieuNaissance}}<br>
    Sexe: {{enseignantP.sexe}}<br>
    E-mail: {{enseignantP.email}}<br>
    Téléphone: {{enseignantP.telephone}}<br>
    Adresse: {{enseignantP.adresse}}<br>
    Etat Civil: {{enseignantP.etatCivil}}<br>
    Nom Conjoint: {{enseignantP.nomConjoint}}<br>
    Code Postal: {{enseignantP.codepostal}}<br>
    Spécialité: {{enseignantP.specialite}}<br>
    RIB: {{enseignantP.rib}}<br>
    <h4>Données Professionnelles</h4>
    <hr>
    Date de Recrutement: {{enseignantP.dateRecrutement}}<br>
    Date de Titularisation: {{enseignantP.dateTitularisation}}<br>
  </div>
</div>
