<div id="LoginForm">
    <div id="lang"> <button mat-mini-fab class="buttonColor" (click)="switchLanguage('fr')">Fr</button>
      <button mat-mini-fab class="buttonColor" (click)="switchLanguage('ar')">عربي</button></div>
    <div class="container spacer">
    <div class="row">
        <div class="col-md-4 col-sm-4 col-xs-12"></div>
        <div class="col-md-4 col-sm-4 col-xs-12">
<div class="login-form">    
    <form >
    <!-- <div class="avatar"><i class="material-icons">&#xE7FF;</i></div> -->
    <img src="../../assets/images/logoMB.png" class="logo"/>
    	<h4 class="modal-title">Authentification</h4>
        <div class="form-group">
            <input type="text" class="form-control" placeholder="Login" name="login" [(ngModel)]="login" required="required">
        </div>
        <div class="form-group">
            <input class="form-control" placeholder="Mot de Passe" [type]="hide ? 'password' : 'text'" required="required" name="motpasse" [(ngModel)]="motpasse">
           <!--  <mat-icon matSuffix class="clickable" (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon> -->
          </div>
        <div class="form-group small clearfix">
            <!-- <label class="checkbox-inline"><input type="checkbox"> Remember me</label> -->
          <a routerLink="/MotPassOblier" class="forgot-link">Mot de passe oublié?</a>
        </div> 
        <input type="submit" class="btn btn-primary btn-block btn-lg" (click)="chercheUser()" value="Connexion">              
    </form>		
    <div class="text-center small">Designed by <i fa fa-heart></i> <a routerLink="login">Marwa&Basma</a></div>
</div>
<div class="col-md-4 col-sm-4 col-xs-12"></div>
</div>
</div>
</div>
</div>