<app-index></app-index>
<div class="container spacer">
    <div class="panel panel-info">
        <div class="panel-heading">{{'Table.CDetailsEnsg' | translate}} {{nom}}</div>
        <div class="panel-body">
<h3 class="site-title">{{'Table.CDetailsEnsg' | translate}}</h3>
<!-- <div>
<div>
  <img class="img-responsive" src="../../assets/images/user_pic.png" style="width:30%;">
                <i class="fa fa-wrench"> Edit</i> 
 <div class="clearfix">
   <h3> {{nom}}</h3>
   <i class="fa fa-envelope"></i>{{enseignantF.email}}<br>
   <i class="fa fa-gift"></i>{{enseignantF.datenaissance|date:'dd/MM/yyyy'}}<br>
   <i class="fa fa-phone"></i>(+216){{enseignantF.telephone}}<br>
   <i class="fa fa-map-marker"></i>{{enseignantF.lieuNaissance}}<br>
   <div *ngIf="lang=='fr'"><i class="fa fa-map-marker"></i>{{enseignantF.adresse}}</div>
   <div *ngIf="lang=='ar'"><i class="fa fa-map-marker"></i>{{enseignantF.adresseAr}}</div>
 </div>
</div>
</div> -->
<div class="content">
    <div class="card">
      <div class="firstinfo"><img src="../../assets/images/user_pic.png"/>
        <div class="profileinfo">
          <h1>{{nom}}</h1>
          <h3>{{'Table.EnseignantF' | translate}}</h3>
          <div class="bio">
          <i class="fa fa-gift"></i> {{enseignantF.datenaissance|date:'dd/MM/yyyy'}}<br>
          <i class="fa fa-phone"></i> (+216) {{enseignantF.telephone}}<br>
          <i class="fa fa-envelope"></i> {{enseignantF.email}}<br>
          <div *ngIf="lang=='fr'"><i class="fa fa-map-marker"></i> {{enseignantF.adresse}}</div>
          <div *ngIf="lang=='ar'"><i class="fa fa-map-marker"></i> {{enseignantF.adresseAr}}</div>
          </div>
        </div>
      </div>
    </div>
    <div class="badgescard"> <span class="devicons devicons-django"></span><span class="devicons devicons-python"> </span><span class="devicons devicons-codepen"></span><span class="devicons devicons-javascript_badge"></span><span class="devicons devicons-gulp"></span><span class="devicons devicons-angular"></span><span class="devicons devicons-sass"> </span></div>
  </div>
  <br/>
 <br/>
 <br/>
<mat-tab-group class="demo-tab-group">
<mat-tab label="Détails Personnels">
   <ng-template mat-tab-label>
    <mat-icon>person</mat-icon>
        </ng-template>
  <div class="demo-tab-content">
      <table class="table table-striped">
          <tbody>
            <tr> 
      <td><b>Nom et Prénom :</b></td><td>{{enseignantF.prenom +" "+enseignantF.nom}}</td><td align="right">{{enseignantF.prenomAr +" "+enseignantF.nomAr}}</td><td align="right"> <b>الإسم و اللقب</b></td>
    </tr>
    <tr><td><b>Nom de Pére :</b></td>
    <td> {{enseignantF.nompere}}</td><td align="right">{{enseignantF.nompereAr}}</td><td  align="right"><b>إسم الأب</b> </td></tr> 
    <tr><td><b>Sexe: </b></td><td> {{enseignantF.sexe}}</td><td  align="right">{{enseignantF.sexeAr}}</td><td  align="right"><b>الجنس</b></td></tr>
    <tr><td><b>Lieu de Naissance: </b></td>
      <td>{{enseignantF.lieuNaissance}}</td><td  align="right"> {{enseignantF.lieuNaissanceAr}}</td><td align="right"><b>مكان الولادة</b></td></tr>
    <tr><td><b>Adresse: </b></td>
      <td>{{enseignantF.adresse}}</td><td td align="right">{{enseignantF.adresseAr}}</td><td  align="right"><b>العنوان</b></td></tr>
    <tr><td><b>Etat Civil:</b></td>
      <td>{{enseignantF.etatCivil}}</td><td  align="right">{{enseignantF.etatCivilAr}}</td><td  align="right"><b>الحالة المدنية</b></td></tr>
    <tr><td>
        <b>Code Postal:</b></td>
    <td>{{enseignantF.codepostal}}</td><td align="right">{{enseignantF.codepostal}}</td><td align="right"><b>الترقيم البريدي</b></td></tr> 
    <tr><td><b>RIB:</b></td><td>{{enseignantF.rib}}</td><td align="right">{{enseignantF.rib}}</td><td align="right"><b>رقم الحستب الجاري</b></td></tr>
    <tr><td><b>Etat:</b></td><td>{{enseignantF.etat.libelleEtat}}</td><td align="right">{{enseignantF.etat.libelleEtatAr}}</td><td align="right"><b>الحالة</b></td></tr>
  </tbody></table>
</div>
</mat-tab>
<mat-tab label="Détails Professionnels">
  <ng-template mat-tab-label>
    <mat-icon>local_library</mat-icon>
  </ng-template>
  <div class="demo-tab-content">
      <table class="table table-striped">
          <tbody>
   <tr *ngIf="enseignantF.departement!=null"> <td> <b>Departement:</b></td><td> {{enseignantF.departement.nomDep}}</td><td align="right"> {{enseignantF.departement.nomDepAr}}</td><td align="right"><b>:القسم</b></td></tr>
   <tr *ngIf="enseignantF.specialite!=null"> <td><b>Spécialité :</b></td><td>{{enseignantF.specialite.libelleSp}}</td>
    <td align="right">{{enseignantF.specialite.libelleSpAr}}</td><td align="right"> <b> :الإختصاص</b></td></tr>
    <tr *ngIf="enseignantF.organismeOrigine!=null"> <td><b>Organisme d'origine :</b></td><td>{{enseignantF.organismeOrigine.libelleOrg}}</td>
      <td align="right">{{enseignantF.organismeOrigine.libelleOrgAr}}</td><td align="right"><b>:المؤسسة الأصلية</b></td></tr> 
  </tbody></table>
  </div>
  </mat-tab>
    <mat-tab label="Diplômes">
      <ng-template mat-tab-label>
        <mat-icon>school</mat-icon>
      </ng-template>
    <div class="demo-tab-content" *ngIf="diplomepers!=null">
        <table class="table table-striped">
            <tr>
              <th>{{'SideBar.MDiplome' | translate}}</th><th>{{'Table.CDateDip' | translate}}</th>
            </tr>
            <tr *ngFor="let d of diplomepers; let i=index">
              <td *ngIf="lang==='fr'">{{d.diplome.titreDip}}</td>
              <td *ngIf="lang==='ar'">{{d.diplome.titreDipAr}}</td>
              <td>{{d.date}}</td>
            </tr></table></div>
    </mat-tab>
            <mat-tab label="Enfants" *ngIf="enseignantF.etatCivil=='Marié(e)'">
              <ng-template mat-tab-label>
                <mat-icon>people</mat-icon>
              </ng-template>
              <div class="demo-tab-content" *ngIf="enfants!=null">
                  <form #enfant *ngFor="let e of enfants; let i=index">
                    <mat-form-field>
                      <input matInput placeholder="Nom Enfant" type="text" name="nomenf" [(ngModel)]="e.nom" disabled>
                    </mat-form-field>
                    <mat-form-field>
                        <input matInput placeholder="إسم الطفل" type="text" name="nomenfar" [(ngModel)]="e.nomAr" disabled>
                      </mat-form-field>
                    <mat-form-field>
                      <input matInput placeholder="Date de Naissance/تاريخ الولادة" name="enf" [(ngModel)]="e.dateNais" disabled>
                    </mat-form-field>
                  </form>
                </div>
              </mat-tab>
              <mat-tab label="Charge Semestrielle">
                  <ng-template mat-tab-label>
                    <mat-icon>school</mat-icon>
                  </ng-template>
                <div class="demo-tab-content" *ngIf="chargeSems!=null">
                    <table class="table table-striped">
                        <tr>
                          <th>{{'Table.anneUniv' | translate}}</th><th>{{'Table.semestre' | translate}}</th><th>{{'Table.cours' | translate}}</th><th>{{'Table.Td' | translate}}</th><th>{{'Table.tp' | translate}}</th>
                        </tr>
                    <tr *ngFor="let c of chargeSems; let i=index">
                      <td *ngIf="c.anneeuniversitaire!=null">{{c.anneeuniversitaire.anneeDebut/c.anneeuniversitaire.anneeFin}}</td>
                      <td *ngIf="lang==='fr' && c.semestre!=null">{{c.semestre.descriptionSem}}</td>
                      <td *ngIf="lang==='ar' && c.semestre!=null">{{c.semestre.descriptionSemAr}}</td>
                      <td *ngIf="c.nbrHeuresCR!=0">{{c.nbrHeuresCR}}</td>
                      <td *ngIf="c.nbrHeuresTD!=0">{{c.nbrHeuresTD}}</td>
                      <td *ngIf="c.nbrHeuresTP!=0">{{c.nbrHeuresTP}}</td>
                    </tr> 
                    </table>
                    </div>
            </mat-tab>
            </mat-tab-group>
    <!-- <b>Grade Actuel:</b> {{enseignantF.dateTitularisation}}<br> -->
    <div class="posAr">
    <button mat-icon-button color="" (click)="modifier(enseignantF.idPers)"><mat-icon>create</mat-icon></button>
    </div>
  </div>
  </div>      
</div>
