<div class="panel panel-primary">
  <div class="panel-heading">Ajouter Corps</div>
  <div class="panel-body">
    <div>
      <form class="form-inline">
        <div class="form-group">
          <label class="control-label">Libelle de corps :</label>
          <input id="msg" type="text" class="form-control" name="msg" placeholder="Nom de Corps" [(ngModel)]="corps.libelle">
          <button type="button" class="btn btn-primary btn-md" (click)="ajouter()">Ajouter Corps</button>
        </div>
      </form>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">Afficher Corps</div>
    <div class="panel-body">
      <div class="form-group">
        <label>Mot Clé</label>
        <input type="text" [(ngModel)]="motCle"/>
        <button class="btn btn-primary" (click)="doSearch()">Chercher</button>
      </div>
      <table class="table table-striped">
        <tr>
          <th>ID</th><th>Nom</th><th>Modifier Corps</th><th>Supprimer Corps</th>
        </tr>
        <tr *ngFor="let c of corps">
          <td>{{c.idcps}}</td>
          <td>{{c.libelle}}</td>
          <td><a (click)="onEditCorps(c.idcps)" class="clickable">Modifier</a> </td>
          <td><a (click)="onDeleteCorps(c)" class="clickable">Supprimer</a> </td>
        </tr></table>
    </div>
  </div>

