<div id="page-wrapper">

  <!-- Header -->
    <header id="header">
      <h1 id="logo"><a routerLink="/">PADIS</a></h1>
      <nav id="nav">
        <ul>
          <li><a href="http://www.isetsf.rnu.tn">Site Web</a></li>
          <li><a (click)="ajouterDemande()" class="button primary">Demande de Vacation</a></li>
        </ul>
      </nav>
    </header>

  <!-- Banner -->
    <section id="banner">
      <div class="content">
        <header>
          <h2>The future has PADIS</h2>
          <p>“What you get by achieving your goals is not as important as<br />
            what you become by achieving your goals.”— Henry David Thoreau</p>
        </header>
        <span class="image"><img src="../../assets/images/isetSfax.png" alt="" /></span>
      </div>
    </section>

  <!-- Footer -->
    <footer id="footer">
      <ul class="icons">
        <li><a routerLink="/" class="icon alt fa-twitter"><span class="label">Twitter</span></a></li>
        <li><a routerLink="/" class="icon alt fa-facebook"><span class="label">Facebook</span></a></li>
        <li><a routerLink="/" class="icon alt fa-linkedin"><span class="label">LinkedIn</span></a></li>
        <li><a routerLink="/" class="icon alt fa-instagram"><span class="label">Instagram</span></a></li>
        <li><a routerLink="/" class="icon alt fa-github"><span class="label">GitHub</span></a></li>
        <li><a routerLink="/" class="icon alt fa-envelope"><span class="label">Email</span></a></li>
      </ul>
      <ul class="copyright">
        <li>&copy; Untitled. All rights reserved.</li><li>Design: <a routerLink="/">M&B</a></li>
      </ul>
    </footer>

</div>

                          