<app-index></app-index>
<div class="container spacer">
  <div class="panel panel-primary">
    <div class="panel-heading">{{personnel.prenom+" "+personnel.nom}}</div>
    <div class="panel-body">
  <h3>Historique des Congés de {{personnel.prenom+" "+personnel.nom}}</h3>
<br>
<mat-tab-group class="demo-tab-group">
    <mat-tab label="Historique">
      <div class="demo-tab-content">
        <br>
  <table class="table table-hover" cellspacing="0">
    <thead>
  <tr>
    <th>Date Debut</th><th>Date Fin</th><th>Type Congé</th><th>Nombre Jours</th><th>Décision</th><th>Reprise</th><th>Modifier la reprise</th>
  </tr>
</thead>
<tbody>
  <tr *ngFor="let c of pageConge?.content">
    <td>{{c.dateDebut}}</td>
    <td>{{c.dateFin}}</td>
    <td>{{c.typeconge.libelleType}}</td>
    <td>{{c.nbJour}}</td>
    <td>{{c.valide}}</td>
    <td>{{RepriseResultat(c.reprise)}}{{CanReprise(c.valide)}}</td>
    <td align="center"><button mat-mini-fab color="" [disabled]="c.reprise||!canReprise" (click)="RepriseConge(c)"><mat-icon>alarm_on</mat-icon></button> </td>
  </tr> 
</tbody>
</table>
</div>
</mat-tab>
</mat-tab-group>
    </div>
  </div>
</div>
