<app-index></app-index>
<div class="container spacer">
  <div class="panel panel-primary">
    <div class="panel-heading">Etats des Congés de {{personnel.prenom+" "+personnel.nom}}</div>
    <div class="panel-body">
  <h3>Etats des Congés de {{personnel.prenom+" "+personnel.nom}}</h3>
<br>
<table class="table table-striped">
  <tr>
    <th>Date Debut</th><th>Date Fin</th><th>Type Congé</th><th>Nombre Jours</th><th>Décision</th><th>Reprise</th>
  </tr>
  <tr *ngFor="let c of pageConge?.content">
    <td>{{c.dateDebut}}</td>
    <td>{{c.dateFin}}</td>
    <td>{{c.typeconge.libelle}}</td>
    <td>{{c.nbJour}}</td>
    <td>{{c.valide}}</td>
    <td>{{c.reprise}}</td>
  </tr></table>
  <div class="container">
    <ul class="nav nav-pills">
      <li [ngClass]="{'active' :i==currentPage}" *ngFor="let p of pages; let i=index">
        <a class="clickable" (click)="gotopage(i)">{{i}}</a>
      </li>
    </ul>
  </div>
    </div>
  </div>
</div>
