<div class="container spacer">
  <div class="panel panel-primary">
    <div class="panel-heading">Liste des utilisateurs</div>
  <div class="panel-body">
  <label>Date de Creation:</label>
 <mat-form-field>
      <input matInput [matDatepicker]="picker" placeholder="Date de Creation" [(ngModel)]="motCle">
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
    <button mat-raised-button color="primary" (click)="chercher()">Chercher</button>
<table class="table table-striped">
  <tr>
    <th>Login</th><th>Mot de Passe</th><th>Date de Creation</th><th>Personnel</th><th>Modifier Utilisateur</th><th>Supprimer Utilisateur</th>
  </tr>
  <tr *ngFor="let u of users">
    <td>{{u.login}}</td>
    <td>{{u.motpasse}}</td>
    <td>{{u.datecreation}}</td>
    <td>{{u.personnel.prenom}}</td>
    <td><a (click)="onEditUser(u.login)" class="clickable">Modifier</a> </td>
    <td><a (click)="onDeleteUser(u)" class="clickable">Supprimer</a> </td>
  </tr>

</table>
    <div class="container">
      <ul class="nav nav-pills">
        <li [ngClass]="{'active' :i==currentPage}" *ngFor="let p of pages; let i=index">
          <a class="clickable" (click)="gotopage(i)">{{i}}</a>
        </li>
      </ul>
    </div>
  </div>
  </div>
</div>
